             body
            {
                background-color:#CCD3AE;
            }
            .hr
            {
                border-style:none;
                border-top-style:dotted;
                border-color:grey;
                border-width:5px;
                height:0px;
                width:50px;
            }
            img:hover
            {
                background-color:gold;
            }
            .a
            {
                background-color:green;
              border-radius:100%;
            }
            .b
            {
                background-color:red;
            }
            .circular
            {
                border-radius:100%;
            }
