             body
            {
                background-color:#CCD3AE;
            }
            .hr
            {
                border-style:none;
                border-top-style:dotted;
                border-color:grey;
                border-width:5px;
                height:50px;
                width:50px;
            }
            a:hover
            {
                background-color:gold;
            }
            .a
            {
                background-color:green;
                border-radius:50%; 
            }
 
